<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CesfamEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DESKTOP-IKP6TRJ:1521/xe;PASSWORD=cesfam;PERSIST SECURITY INFO=True;USER ID=CESFAM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>